<form class="{{cssClass}}" autocomplete="off">
    {{#if (eq charInfo "story")}}
        <div class="destinyjdr-charinfobloc">
            <div class="destinyjdr-charinfobloc-content">
                <div class="destinyjdr-charinfos">
                    <p class="destinyjdr-charinfos-title">{{localize "destinyjdr.sheettext.story"}}</p>
                </div>
                <hr class="destinyjdr-custom-hr">
                {{editor content=data.charInfos.story target='data.charInfos.story' button=true owner=true editable=true}}
            </div>
        </div>
    {{/if}}
    {{#if (eq charInfo "desc")}}
        <div class="destinyjdr-charinfobloc">
            <div class="destinyjdr-charinfobloc-content">
                <div class="destinyjdr-charinfos">
                    <p class="destinyjdr-charinfos-title">{{localize "destinyjdr.sheettext.description"}}</p>
                </div>
                <hr class="destinyjdr-custom-hr">
                {{editor content=data.charInfos.description target='data.charInfos.description' button=true owner=true editable=true}}
            </div>
        </div>
    {{/if}}
</form>
  