<form class="{{cssClass}} flexcol" autocomplete="off">

  <div class="destinyjdr-item-sheet sheet-items">

    <div class="destinyjdr-item-div1" style="padding: 2px 6px 2px 8px !important;width: 398px;margin: 0 auto 0 0;">

      <h1 style="margin: 0 auto 8px 0;width: 340px;"><input class="destinyjdr-item-name color-worn" name="name" type="text" maxlength="30" value="{{item.name}}"/></h1>

      <div class="destinyjdr-item-div-description" style="width: 388px;">

        <div class="destinyjdr-item-titletext">
          <div class="destinyjdr-item-titletext">{{localize config.textData.description}}</div>
          <textarea name="data.description" rows="3" cols="33" spellcheck="false">{{data.system.description}}</textarea>
        </div>

        <div class="destinyjdr-item-titletext">
          <div class="destinyjdr-item-titletext">{{localize "destinyjdr.sheet.effectsText"}}</div>
          {{editor content=data.system.effect target='data.effect' button=true owner=true editable=true}}
        </div>

      </div>

    </div>
  
    <div class="destinyjdr-item-div2" style="width: 202px;padding: 0 0 12px 0;margin: 0 12px 0 0;">

      <div class="destinyjdr-item-img" style="width: 100%;">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" style="top: 5px;left: -9%;max-width: unset;width: 115%;height: 112%;"/>
      </div>

    </div>

  </div>

</form>
