<form class="{{cssClass}}" autocomplete="off">

    {{log data}}

    <div class="weapontalentsheet">
        <div class="weaponperk-title">
            <input class="perkname" name="data.perkname" type="text" placeholder="{{localize 'destinyjdr.itemText.perkname'}}" value="{{data.perkname}}">
            <input class="perkid" name="data.perkid" type="text" placeholder="{{localize 'destinyjdr.itemText.idname'}}" value="{{data.perkid}}">
        </div>
        <div class="weaponperk-content">
            <div class="weaponperk-content-img">
                {{#if (eq data.perkactivated true)}}
                    <img src="systems\destinyjdr\assets\img\weapons\weapon_sheet\perk.png" title="{{data.perkname}}">
                {{else}}
                    <img src="systems\destinyjdr\assets\img\weapons\weapon_sheet\noperk.png" title="{{data.perkname}}">
                {{/if}}
            </div>
            <div class="weaponperk-content-description">
                {{editor content=data.perk target='data.perk' button=true owner=true editable=true}}
            </div>
        </div>
    </div>

</form>
