<section>

    {{#if isGM}}
        <button class="open-debugg" type="button" title="{{localize 'destinyjdr.flavorText.activeEffectsOptions'}}"><i class="fas fa-cog cog-button"></i></button>
    {{/if}}

  <div class="charactersheet-sidebar-logo">
      <img src="systems/destinyjdr/assets/img/sheet_elements/destinyjdr_sheet_logo.webp"/>
  </div>

  {{#if (gte this.actor.system.health.frozen this.actor.system.health.value)}}
    {{#if (eq this.actor.system.health.frozen 0)}}
        <div class="charactersheet-sidebar-charhealth">
    {{else}}
        <div class="charactersheet-sidebar-charhealth frozen">
    {{/if}}
  {{else}}
    <div class="charactersheet-sidebar-charhealth">
  {{/if}}
      <img id="charactersheet-side-stasisbg" class="charactersheet-side-stasisbg" src="systems/destinyjdr/assets/img/sheet_elements/sheet_stasebg.webp">
      <div class="charactersheet-sidebar-charhealth-1">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.maxHealthPoints'}}</p>
          <input class="charactersheet-sidebar-healthinput1" type="text" data-dtype="Number" name="data.health.max" value="{{data.system.health.max}}">
      </div>
      <div class="charactersheet-sidebar-charhealth-2">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.HP'}}</p>
          <input class="charactersheet-sidebar-healthinput2" type="text" data-dtype="Number" name="data.health.value" value="{{data.system.health.value}}">
      </div>
      <div class="charactersheet-sidebar-charhealth-3">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.frozenHealthPoints'}}</p>
          <input class="charactersheet-sidebar-healthinput3" type="text" data-dtype="Number" data-actor="{{this.actor._id}}" name="data.health.frozen" value="{{data.system.health.frozen}}">
        </div>
      <a id="charactersheet-sidebar-stasisbutton" class="charactersheet-sidebar-stasisbutton tooltipdiv" data-actor="{{this.actor._id}}">
        <i class="fa-solid fa-snowflake"></i>
        <span class="tooltiptext">{{localize 'destinyjdr.statusEffectsDebuffs.frozen'}}</span>
      </a>
  </div>

  <div class="charactersheet-sidebar-title">
      <p>{{localize 'destinyjdr.sheet.super'}}</p>
  </div>

  <div class="charactersheet-sidebar-charbloc">
      <div class="charactersheet-sidebar-charbloc-bloc">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.max'}}</p>
          <input class="charactersheet-sidebar-blocinput" type="number" name="data.superpoints.max" value="{{data.system.superpoints.max}}">
      </div>
      <div class="charactersheet-sidebar-charbloc-bloc">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.actual'}}</p>
          <input class="charactersheet-sidebar-blocinput" type="number" name="data.superpoints.value" value="{{data.system.superpoints.value}}">
      </div>
  </div>

  <div class="charactersheet-sidebar-title">
      <p>{{localize 'destinyjdr.sheet.fatePoints'}}</p>
  </div>

  <div class="charactersheet-sidebar-charbloc">
      <div class="charactersheet-sidebar-charbloc-bloc">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.max'}}</p>
          <input class="charactersheet-sidebar-blocinput" type="number" name="data.fate.max" value="{{data.system.fate.max}}">
      </div>
      <div class="charactersheet-sidebar-charbloc-bloc">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.actual'}}</p>
          <input class="charactersheet-sidebar-blocinput" type="number" name="data.fate.value" value="{{data.system.fate.value}}">
      </div>
  </div>

  <div class="charactersheet-sidebar-title">
      <p>{{localize 'destinyjdr.sheet.dangers'}}</p>
  </div>

  <div class="charactersheet-sidebar-chardangers">
      <div class="charactersheet-sidebar-chardangers-bloc1">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.fatiguePoints'}}</p>
          <input class="charactersheet-sidebar-blocinput" type="number" name="data.fatigue.value" value="{{data.system.fatigue.value}}">
      </div>
      <div class="charactersheet-sidebar-chardangers-bloc2">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.criticalWounds'}}</p>
          <input class="charactersheet-sidebar-blocinput" type="number" name="data.critWounds.value" value="{{data.system.critWounds.value}}">
      </div>
  </div>

  <div class="charactersheet-sidebar-title">
      <p>{{localize 'destinyjdr.sheet.currenciesandammo'}}</p>
  </div>

  <div class="charactersheet-sidebar-charcurrammo">
      <div class="charactersheet-sidebar-charcurrammo-bloc1">
          <p class="charactersheet-sidebar-p">{{localize 'destinyjdr.sheet.lumen'}}</p>
          <input class="charactersheet-sidebar-lumeninput" maxlength="7" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type="number" name="data.lumen.value" value="{{data.system.lumen.value}}">
      </div>
      <div class="charactersheet-sidebar-charcurrammo-bloc2">

        <div class="charactersheet-sidebar-charcurrammo-bloc2-div tooltipdiv">
            <div class="charactersheet-sidebar-charcurrammo-bloc2-div1-name">
                <p>{{localize 'destinyjdr.sheet.normalmunitions'}}</p>
            </div>
            <div class="charactersheet-sidebar-charcurrammo-bloc2-div1-values">
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.normal1" data-dtype="Boolean" {{checked data.system.ammomagazines.normal1}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.normal2" data-dtype="Boolean" {{checked data.system.ammomagazines.normal2}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.normal3" data-dtype="Boolean" {{checked data.system.ammomagazines.normal3}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.normal4" data-dtype="Boolean" {{checked data.system.ammomagazines.normal4}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.normal5" data-dtype="Boolean" {{checked data.system.ammomagazines.normal5}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.normal6" data-dtype="Boolean" {{checked data.system.ammomagazines.normal6}} />
            </div>
            <span class="tooltiptext" style="left: 150px;top: -20px;transform: unset;z-index: 9;width: 140px;border-radius: 0 3px 3px 0;">
                <img class="ammoimg" src="systems/destinyjdr/assets/img/sheet_elements/ammo/normal_ammo.webp" style="border: unset;">
                <p class="ammotitle">{{localize "destinyjdr.ammotype.classic"}}</p>
                <p class="ammocontent">{{{localize "destinyjdr.ammocontent.classic"}}}</p>
            </span>
        </div>

        <div class="charactersheet-sidebar-charcurrammo-bloc2-div tooltipdiv">
            <div class="charactersheet-sidebar-charcurrammo-bloc2-div2-name">
                <p>{{localize 'destinyjdr.sheet.specialmunitions'}}</p>
            </div>
            <div class="charactersheet-sidebar-charcurrammo-bloc2-div2-values">
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.special1" data-dtype="Boolean" {{checked data.system.ammomagazines.special1}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.special2" data-dtype="Boolean" {{checked data.system.ammomagazines.special2}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.special3" data-dtype="Boolean" {{checked data.system.ammomagazines.special3}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.special4" data-dtype="Boolean" {{checked data.system.ammomagazines.special4}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.special5" data-dtype="Boolean" {{checked data.system.ammomagazines.special5}} />
            </div>
            <span class="tooltiptext" style="left: 150px;top: -20px;transform: unset;z-index: 9;width: 140px;border-radius: 0 3px 3px 0;">
                <img class="ammoimg" src="systems/destinyjdr/assets/img/sheet_elements/ammo/lumen_ammo.webp" style="border: unset;">
                <p class="ammotitle">{{localize "destinyjdr.ammotype.lumen"}}</p>
                <p class="ammocontent">{{{localize "destinyjdr.ammocontent.lumen"}}}</p>
            </span>
        </div>
        
        <div class="charactersheet-sidebar-charcurrammo-bloc2-div tooltipdiv">
            <div class="charactersheet-sidebar-charcurrammo-bloc2-div3-name">
                <p>{{localize 'destinyjdr.sheet.heavymunitions'}}</p>
            </div>
            <div class="charactersheet-sidebar-charcurrammo-bloc2-div3-values">
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.heavy1" data-dtype="Boolean" {{checked data.system.ammomagazines.heavy1}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.heavy2" data-dtype="Boolean" {{checked data.system.ammomagazines.heavy2}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.heavy3" data-dtype="Boolean" {{checked data.system.ammomagazines.heavy3}} />
                <input class="charactersheet-sidebar-charcurrammo-checkbox" type="checkbox" name="data.ammomagazines.heavy4" data-dtype="Boolean" {{checked data.system.ammomagazines.heavy4}} />
            </div>
            <span class="tooltiptext" style="left: 150px;top: -20px;transform: unset;z-index: 9;width: 140px;border-radius: 0 3px 3px 0;">
                <img class="ammoimg" src="systems/destinyjdr/assets/img/sheet_elements/ammo/heavy_ammo.webp" style="border: unset;">
                <p class="ammotitle">{{localize "destinyjdr.ammotype.heavy"}}</p>
                <p class="ammocontent">{{{localize "destinyjdr.ammocontent.heavy"}}}</p>
            </span>
        </div>

      </div>
  </div>

  <div class="charactersheet-sidebar-title">
      <p>{{localize 'destinyjdr.sheet.knowledge'}}</p>
  </div>

  <div class="charactersheet-sidebar-charknowledge">
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.lastcity"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.lastcity1" data-dtype="Boolean" {{checked data.system.knowledge.lastcity1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.lastcity2" data-dtype="Boolean" {{checked data.system.knowledge.lastcity2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.lastcity3" data-dtype="Boolean" {{checked data.system.knowledge.lastcity3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.eliksni"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.eliksni1" data-dtype="Boolean" {{checked data.system.knowledge.eliksni1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.eliksni2" data-dtype="Boolean" {{checked data.system.knowledge.eliksni2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.eliksni3" data-dtype="Boolean" {{checked data.system.knowledge.eliksni3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.lightdark"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.lightdark1" data-dtype="Boolean" {{checked data.system.knowledge.lightdark1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.lightdark2" data-dtype="Boolean" {{checked data.system.knowledge.lightdark2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.lightdark3" data-dtype="Boolean" {{checked data.system.knowledge.lightdark3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.guardians"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.guardians1" data-dtype="Boolean" {{checked data.system.knowledge.guardians1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.guardians2" data-dtype="Boolean" {{checked data.system.knowledge.guardians2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.guardians3" data-dtype="Boolean" {{checked data.system.knowledge.guardians3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.awokens"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.awokens1" data-dtype="Boolean" {{checked data.system.knowledge.awokens1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.awokens2" data-dtype="Boolean" {{checked data.system.knowledge.awokens2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.awokens3" data-dtype="Boolean" {{checked data.system.knowledge.awokens3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.exos"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.exos1" data-dtype="Boolean" {{checked data.system.knowledge.exos1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.exos2" data-dtype="Boolean" {{checked data.system.knowledge.exos2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.exos3" data-dtype="Boolean" {{checked data.system.knowledge.exos3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.myths"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.myths1" data-dtype="Boolean" {{checked data.system.knowledge.myths1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.myths2" data-dtype="Boolean" {{checked data.system.knowledge.myths2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.myths3" data-dtype="Boolean" {{checked data.system.knowledge.myths3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.weaponscrafters"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.weaponscrafters1" data-dtype="Boolean" {{checked data.system.knowledge.weaponscrafters1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.weaponscrafters2" data-dtype="Boolean" {{checked data.system.knowledge.weaponscrafters2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.weaponscrafters3" data-dtype="Boolean" {{checked data.system.knowledge.weaponscrafters3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.blackmarket"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.blackmarket1" data-dtype="Boolean" {{checked data.system.knowledge.blackmarket1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.blackmarket2" data-dtype="Boolean" {{checked data.system.knowledge.blackmarket2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.blackmarket3" data-dtype="Boolean" {{checked data.system.knowledge.blackmarket3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.vex"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.vex1" data-dtype="Boolean" {{checked data.system.knowledge.vex1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.vex2" data-dtype="Boolean" {{checked data.system.knowledge.vex2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.vex3" data-dtype="Boolean" {{checked data.system.knowledge.vex3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.cabals"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.cabals1" data-dtype="Boolean" {{checked data.system.knowledge.cabals1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.cabals2" data-dtype="Boolean" {{checked data.system.knowledge.cabals2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.cabals3" data-dtype="Boolean" {{checked data.system.knowledge.cabals3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.goldenage"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.goldenage1" data-dtype="Boolean" {{checked data.system.knowledge.goldenage1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.goldenage2" data-dtype="Boolean" {{checked data.system.knowledge.goldenage2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.goldenage3" data-dtype="Boolean" {{checked data.system.knowledge.goldenage3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.thehive"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.thehive1" data-dtype="Boolean" {{checked data.system.knowledge.thehive1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.thehive2" data-dtype="Boolean" {{checked data.system.knowledge.thehive2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.thehive3" data-dtype="Boolean" {{checked data.system.knowledge.thehive3}} />
          </div>
      </div>
      <div class="charactersheet-sidebar-charknowledge-container">
          <div class="charactersheet-sidebar-charknowledge-title">
              <p>{{localize "destinyjdr.knowledgeText.sorrow"}}</p>
          </div>
          <div class="charactersheet-sidebar-charknowledge-values">
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.sorrow1" data-dtype="Boolean" {{checked data.system.knowledge.sorrow1}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.sorrow2" data-dtype="Boolean" {{checked data.system.knowledge.sorrow2}} />
              <input class="charactersheet-sidebar-charknowledge-checkbox" type="checkbox" name="data.knowledge.sorrow3" data-dtype="Boolean" {{checked data.system.knowledge.sorrow3}} />
          </div>
      </div>
  </div>

  <!--
  <div class="charactersheet-sidebar-title">
      <p>{{localize 'destinyjdr.sheettext.ghost'}}</p>
  </div>

  <div class="charactersheet-sidebar-charghost">
      <div class="charactersheet-sidebar-charghost-bloc1">

      </div>
      <div class="charactersheet-sidebar-charghost-bloc2">

      </div>
  </div>
  -->

  <div class="charactersheet-sidebar-title">
      <p>{{localize 'destinyjdr.sheet.characterinfos'}}</p>
  </div>

  <div class="charactersheet-sidebar-charinfos">
    <div id="charstory" class="charactersheet-sidebar-charinfos-bloc item-charinfostory">
        <p class="charactersheet-sidebar-littlep">{{localize "destinyjdr.sheettext.story"}}</p>
    </div>
    <div id="chardesc" class="charactersheet-sidebar-charinfos-bloc item-charinfodesc">
        <p class="charactersheet-sidebar-littlep">{{localize "destinyjdr.sheettext.description"}}</p>
    </div>
    <div class="charactersheet-sidebar-charinfos-ghost">
        <p class="charactersheet-sidebar-bigp">{{localize "destinyjdr.sheettext.ghost"}}</p>
        {{#each ghost as |item id|}}
            {{> "systems/destinyjdr/templates/partials/item-card.html" item inSheet=true}}
        {{/each}}
    </div>
  </div>

</section>

