<section class="destinyjdr-character-allegiance-tree">

    <div class="destinyjdr-character-allegiance-tree-img">
        <input class="destinyjdr-character-allegiance-tree-checkbox light h20" type="checkbox" name="data.paths.h20" data-dtype="Boolean" {{checked data.system.paths.h20}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h40" type="checkbox" name="data.paths.h40" data-dtype="Boolean" {{checked data.system.paths.h40}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h50" type="checkbox" name="data.paths.h50" data-dtype="Boolean" {{checked data.system.paths.h50}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h60" type="checkbox" name="data.paths.h60" data-dtype="Boolean" {{checked data.system.paths.h60}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h70" type="checkbox" name="data.paths.h70" data-dtype="Boolean" {{checked data.system.paths.h70}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h80" type="checkbox" name="data.paths.h80" data-dtype="Boolean" {{checked data.system.paths.h80}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h90" type="checkbox" name="data.paths.h90" data-dtype="Boolean" {{checked data.system.paths.h90}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h100" type="checkbox" name="data.paths.h100" data-dtype="Boolean" {{checked data.system.paths.h100}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h120" type="checkbox" name="data.paths.h120" data-dtype="Boolean" {{checked data.system.paths.h120}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h140" type="checkbox" name="data.paths.h140" data-dtype="Boolean" {{checked data.system.paths.h140}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h160" type="checkbox" name="data.paths.h160" data-dtype="Boolean" {{checked data.system.paths.h160}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h180" type="checkbox" name="data.paths.h180" data-dtype="Boolean" {{checked data.system.paths.h180}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h200" type="checkbox" name="data.paths.h200" data-dtype="Boolean" {{checked data.system.paths.h200}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h220" type="checkbox" name="data.paths.h220" data-dtype="Boolean" {{checked data.system.paths.h220}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h240" type="checkbox" name="data.paths.h240" data-dtype="Boolean" {{checked data.system.paths.h240}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h260" type="checkbox" name="data.paths.h260" data-dtype="Boolean" {{checked data.system.paths.h260}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h280" type="checkbox" name="data.paths.h280" data-dtype="Boolean" {{checked data.system.paths.h280}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox light h300" type="checkbox" name="data.paths.h300" data-dtype="Boolean" {{checked data.system.paths.h300}} />

        <input class="destinyjdr-character-allegiance-tree-checkbox s20" type="checkbox" name="data.paths.s20" data-dtype="Boolean" {{checked data.system.paths.s20}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s40" type="checkbox" name="data.paths.s40" data-dtype="Boolean" {{checked data.system.paths.s40}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s50" type="checkbox" name="data.paths.s50" data-dtype="Boolean" {{checked data.system.paths.s50}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s60" type="checkbox" name="data.paths.s60" data-dtype="Boolean" {{checked data.system.paths.s60}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s70" type="checkbox" name="data.paths.s70" data-dtype="Boolean" {{checked data.system.paths.s70}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s80" type="checkbox" name="data.paths.s80" data-dtype="Boolean" {{checked data.system.paths.s80}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s90" type="checkbox" name="data.paths.s90" data-dtype="Boolean" {{checked data.system.paths.s90}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s100" type="checkbox" name="data.paths.s100" data-dtype="Boolean" {{checked data.system.paths.s100}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s110" type="checkbox" name="data.paths.s110" data-dtype="Boolean" {{checked data.system.paths.s110}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s120" type="checkbox" name="data.paths.s120" data-dtype="Boolean" {{checked data.system.paths.s120}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s130" type="checkbox" name="data.paths.s130" data-dtype="Boolean" {{checked data.system.paths.s130}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s140" type="checkbox" name="data.paths.s140" data-dtype="Boolean" {{checked data.system.paths.s140}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s150" type="checkbox" name="data.paths.s150" data-dtype="Boolean" {{checked data.system.paths.s150}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s160" type="checkbox" name="data.paths.s160" data-dtype="Boolean" {{checked data.system.paths.s160}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s170" type="checkbox" name="data.paths.s170" data-dtype="Boolean" {{checked data.system.paths.s170}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s180" type="checkbox" name="data.paths.s180" data-dtype="Boolean" {{checked data.system.paths.s180}} />
        <input class="destinyjdr-character-allegiance-tree-checkbox s190" type="checkbox" name="data.paths.s190" data-dtype="Boolean" {{checked data.system.paths.s190}} />
    </div>

</section>