<div class="dice-roll">
    <div class="dice-result">

        <img class="destinyjdr-effect-img" src="systems/destinyjdr/assets/img/effects/{{this}}.svg" title="{{localize (concat "destinyjdr.statusEffectsDebuffs." this)}}">

        <div class="destinyjdr-effect-title">
            {{localize (concat "destinyjdr.statusEffectsDebuffs." this)}}
        </div>

        <div class="destinyjdr-effect-label">
            <p class="destinyjdr-effect-label-p debuff">{{localize 'destinyjdr.sheettext.debuff'}}</p>
        </div>

        <div class="destinyjdr-effect-desc">
            {{{localize (concat "destinyjdr.descDebuffs." this)}}}
        </div>

    </div>
</div>