{{#if inSheet}}
    <div data-type="item" class="weapon-card item reveal-rollable" data-item-id={{_id}}>
        <div class="weapon-info weapon-name">
            <p class="weapon-name-name">{{data.name}}</p>
            <div class="weapon-name-body">
                {{data.system.damage}}
            </div>
        </div>
    </div>
{{else}}
    <div class="dice-roll">
        <div class="dice-result">
            <div class="destinyjdr-cardintro">
                <img class="destinyjdr-weaponcheck-img" src="{{img}}">
                {{#if (eq data.system.rarity "worn")}}
                    <div class="destinyjdr-dice-weapontitle color-worn" style="width: 100%;">
                        {{data.name}}
                    </div>
                {{/if}}
                {{#if (eq data.system.rarity "goodquality")}}
                    <div class="destinyjdr-dice-weapontitle color-goodquality" style="width: 100%;">
                        {{data.name}}
                    </div>
                {{/if}}
                {{#if (eq data.system.rarity "outstandingquality")}}
                    <div class="destinyjdr-dice-weapontitle color-outstandingquality" style="width: 100%;">
                        {{data.name}}
                    </div>
                {{/if}}
                {{#if (eq data.system.rarity "masterpiece")}}
                    <div class="destinyjdr-dice-weapontitle color-masterpiecenobold" style="width: 100%;">
                        {{data.name}}
                    </div>
                {{/if}}
                {{#if (eq data.system.rarity "exotic")}}
                    <div class="destinyjdr-dice-weapontitle color-exoticnobold" style="width: 100%;">
                        {{data.name}}
                    </div>
                {{/if}}
                {{#if (eq data.system.rarity "enlightened")}}
                    <div class="destinyjdr-dice-weapontitle color-enlightenednobold" style="width: 100%;">
                        {{data.name}}
                    </div>
                {{/if}}
                {{#if (eq data.system.rarity "sunk")}}
                    <div class="destinyjdr-dice-weapontitle color-sunknobold" style="width: 100%;">
                        {{data.name}}
                    </div>
                {{/if}}
                <p class="destinyjdr-centerstrong">
                    {{#if (eq data.system.weaponType "melee")}}
                        {{localize "destinyjdr.weapontype.melee"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "explosive")}}
                        {{localize "destinyjdr.weapontype.explosive"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "autorifle")}}
                        {{localize "destinyjdr.weapontype.autorifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "submachinegun")}}
                        {{localize "destinyjdr.weapontype.submachinegun"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "scoutrifle")}}
                        {{localize "destinyjdr.weapontype.scoutrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "shotgun")}}
                        {{localize "destinyjdr.weapontype.shotgun"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "pulserifle")}}
                        {{localize "destinyjdr.weapontype.pulserifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sniperrifle")}}
                        {{localize "destinyjdr.weapontype.sniperrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sidearm")}}
                        {{localize "destinyjdr.weapontype.sidearm"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "handcannon")}}
                        {{localize "destinyjdr.weapontype.handcannon"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "fusionrifle")}}
                        {{localize "destinyjdr.weapontype.fusionrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "linearfusionrifle")}}
                        {{localize "destinyjdr.weapontype.linearfusionrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sword")}}
                        {{localize "destinyjdr.weapontype.sword"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "grenadelauncher")}}
                        {{localize "destinyjdr.weapontype.grenadelauncher"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "machinegun")}}
                        {{localize "destinyjdr.weapontype.machinegun"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "glaive")}}
                        {{localize "destinyjdr.weapontype.glaive"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "rocketlauncher")}}
                        {{localize "destinyjdr.weapontype.rocketlauncher"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "bow")}}
                        {{localize "destinyjdr.weapontype.bow"}}
                    {{/if}}
                </p>
            </div>
            <div class="dice-tooltip">
                <section class="tooltip-part">
                    <div class="dice">
                        <div class="destinyjdr-weaponperk-showmore">
                            <div class="destinyjdr-weapon-showmore-div">
                                <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.damageText"}}</p>
                                {{#if (eq data.system.weaponType "sword")}}
                                    <p class="destinyjdr-weapon-showmore-p2">{{data.system.damage}}+<span class='strength-color'>{{localize "destinyjdr.stats.strength"}}</span></p>
                                {{else}}
                                    <p class="destinyjdr-weapon-showmore-p2">{{data.system.damage}}</p>
                                {{/if}}
                            </div>
                            <div class="destinyjdr-weapon-showmore-div">
                                <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.rangedText"}}</p>
                                <p class="destinyjdr-weapon-showmore-p2">{{data.system.range}}m</p>
                            </div>
                            <div class="destinyjdr-weapon-showmore-div">
                                <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.rangeThrowText"}}</p>
                                <p class="destinyjdr-weapon-showmore-p2">{{data.system.rangeThrowing}}m</p>
                            </div>
                            {{#if (eq data.system.weaponType "rocketlauncher")}}{{else}}
                                {{#if (eq data.system.weaponType "grenadelauncher")}}{{else}}
                                    {{#if (eq data.system.weaponType "explosive")}}{{else}}
                                        <div class="destinyjdr-weapon-showmore-div">
                                            <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.weaponPenetration"}}</p>
                                            <p class="destinyjdr-weapon-showmore-p2">{{data.system.weaponPenetration}}</p>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            {{#if (eq data.system.weaponType "melee")}}{{else}}
                                {{#if (eq data.system.weaponType "explosive")}}{{else}}
                                    {{#if (eq data.system.weaponType "sword")}}{{else}}
                                        <div class="destinyjdr-weapon-showmore-div" style="flex-direction: column;align-items: flex-start;">
                                            <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.weaponScopeText"}}</p>
                                            <div class="destinyjdr-weapon-showmore-p2" style="display: flex;flex-direction: row;justify-content: flex-start;align-items: center;">
                                                <img src="\systems\destinyjdr\assets\img\weapons\weapon_scopes\weaponsight_{{data.system.weaponScope}}.png" style="border: unset;width: 28px;height: 28px;">
                                                <span style="margin: 0 0 0 6px;">
                                                    {{#if (eq data.system.weaponScope "noscope")}}
                                                        {{localize 'destinyjdr.weaponscope.noscope'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "exotic")}}
                                                        {{localize 'destinyjdr.weaponscope.exotic'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "quickdotsas")}}
                                                        {{localize 'destinyjdr.weaponscope.quickdotsas'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "truesighthcs")}}
                                                        {{localize 'destinyjdr.weaponscope.truesighthcs'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "is5circle")}}
                                                        {{localize 'destinyjdr.weaponscope.is5circle'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "model8red")}}
                                                        {{localize 'destinyjdr.weaponscope.model8red'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "gbiron")}}
                                                        {{localize 'destinyjdr.weaponscope.gbiron'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "wolfsightw1")}}
                                                        {{localize 'destinyjdr.weaponscope.wolfsightw1'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "sdthermal")}}
                                                        {{localize 'destinyjdr.weaponscope.sdthermal'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "duskdotd1")}}
                                                        {{localize 'destinyjdr.weaponscope.duskdotd1'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "scholo")}}
                                                        {{localize 'destinyjdr.weaponscope.scholo'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "devilscoped2")}}
                                                        {{localize 'destinyjdr.weaponscope.devilscoped2'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "ldwatchdog")}}
                                                        {{localize 'destinyjdr.weaponscope.ldwatchdog'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "mark15lens")}}
                                                        {{localize 'destinyjdr.weaponscope.mark15lens'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "lcranged")}}
                                                        {{localize 'destinyjdr.weaponscope.lcranged'}}
                                                    {{/if}}
                                                    {{#if (eq data.system.weaponScope "atblongrange")}}
                                                        {{localize 'destinyjdr.weaponscope.atblongrange'}}
                                                    {{/if}}
                                                </span>
                                            </div>
                                        </div>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                            <div class="destinyjdr-weaponperk-show">
                                <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.description"}}</p>
                                <p class="destinyjdr-cardtext">{{data.system.description}}</p>
                            </div>
                        </div>
                        {{#if data.system.perk}}
                            <div class="destinyjdr-weaponperk-show-perk">
                                <p class="destinyjdr-weapon-showmore-p1">{{localize "destinyjdr.itemText.perkText"}}</p>
                                <p class="destinyjdr-weapon-showmore-perk">{{data.system.perkname}}</p>
                                <div class="destinyjdr-weaponperk-show">
                                    <div class="destinyjdr-cardtext">{{{data.system.perk}}}</div>
                                </div>
                            </div>
                        {{/if}}
                    </div>
                </section>
            </div>
            <div class="destinyjdr-item-endline">
                <img class="deploy-down" src="systems/destinyjdr/assets/img/rolls/misc/expand-down.png">
                <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.sheet.object"}}</p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.sheet.weapon"}}</p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq data.system.weaponType "melee")}}
                        {{localize "destinyjdr.weapontype.melee"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "explosive")}}
                        {{localize "destinyjdr.weapontype.explosive"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "autorifle")}}
                        {{localize "destinyjdr.weapontype.autorifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "submachinegun")}}
                        {{localize "destinyjdr.weapontype.submachinegun"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "scoutrifle")}}
                        {{localize "destinyjdr.weapontype.scoutrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "shotgun")}}
                        {{localize "destinyjdr.weapontype.shotgun"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "pulserifle")}}
                        {{localize "destinyjdr.weapontype.pulserifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sniperrifle")}}
                        {{localize "destinyjdr.weapontype.sniperrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sidearm")}}
                        {{localize "destinyjdr.weapontype.sidearm"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "handcannon")}}
                        {{localize "destinyjdr.weapontype.handcannon"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "fusionrifle")}}
                        {{localize "destinyjdr.weapontype.fusionrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "linearfusionrifle")}}
                        {{localize "destinyjdr.weapontype.linearfusionrifle"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sword")}}
                        {{localize "destinyjdr.weapontype.sword"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "grenadelauncher")}}
                        {{localize "destinyjdr.weapontype.grenadelauncher"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "machinegun")}}
                        {{localize "destinyjdr.weapontype.machinegun"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "glaive")}}
                        {{localize "destinyjdr.weapontype.glaive"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "rocketlauncher")}}
                        {{localize "destinyjdr.weapontype.rocketlauncher"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "bow")}}
                        {{localize "destinyjdr.weapontype.bow"}}
                    {{/if}}
                </p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq data.system.weaponType "melee")}}
                        {{localize "destinyjdr.ammotype.noammo"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "explosive")}}
                        {{localize "destinyjdr.ammotype.noammo"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "autorifle")}}
                        {{localize "destinyjdr.ammotype.classic"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "submachinegun")}}
                        {{localize "destinyjdr.ammotype.classic"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "scoutrifle")}}
                        {{localize "destinyjdr.ammotype.classic"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "shotgun")}}
                        {{localize "destinyjdr.ammotype.lumen"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "pulserifle")}}
                        {{localize "destinyjdr.ammotype.classic"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sniperrifle")}}
                        {{localize "destinyjdr.ammotype.lumen"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sidearm")}}
                        {{localize "destinyjdr.ammotype.classic"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "handcannon")}}
                        {{localize "destinyjdr.ammotype.classic"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "fusionrifle")}}
                        {{localize "destinyjdr.ammotype.lumen"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "linearfusionrifle")}}
                        {{localize "destinyjdr.ammotype.heavy"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "sword")}}
                        {{localize "destinyjdr.ammotype.noammo"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "grenadelauncher")}}
                        {{localize "destinyjdr.ammotype.heavy"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "machinegun")}}
                        {{localize "destinyjdr.ammotype.heavy"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "glaive")}}
                        {{localize "destinyjdr.ammotype.lumen"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "rocketlauncher")}}
                        {{localize "destinyjdr.ammotype.heavy"}}
                    {{/if}}
                    {{#if (eq data.system.weaponType "bow")}}
                        {{localize "destinyjdr.ammotype.arrow"}}
                    {{/if}}
                </p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq data.system.weaponElement "kinetic")}}
                        {{localize "destinyjdr.weaponelement.kinetic"}}
                    {{/if}}
                    {{#if (eq data.system.weaponElement "solar")}}
                        <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                    {{/if}}
                    {{#if (eq data.system.weaponElement "arc")}}
                        <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                    {{/if}}
                    {{#if (eq data.system.weaponElement "void")}}
                        <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                    {{/if}}
                    {{#if (eq data.system.weaponElement "stasis")}}
                        <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                    {{/if}}
                    {{#if (eq data.system.weaponElement "strand")}}
                        <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                    {{/if}}
                    {{#if (eq data.system.weaponElement "vertant")}}
                        <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                    {{/if}}
                    {{#if (eq data.system.weaponElement "offaxis")}}
                        <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                    {{/if}}
                </p>
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq data.system.rarity "worn")}}
                        <span class="color-worn">{{localize "destinyjdr.generalRarity.worn"}}</span>
                    {{/if}}
                    {{#if (eq data.system.rarity "goodquality")}}
                        <span class="color-goodquality">{{localize "destinyjdr.generalRarity.goodquality"}}</span>
                    {{/if}}
                    {{#if (eq data.system.rarity "outstandingquality")}}
                        <span class="color-outstandingquality">{{localize "destinyjdr.generalRarity.outstandingquality"}}</span>
                    {{/if}}
                    {{#if (eq data.system.rarity "masterpiece")}}
                        <span class="color-masterpiecenobold">{{localize "destinyjdr.generalRarity.masterpiece"}}</span>
                    {{/if}}
                    {{#if (eq data.system.rarity "exotic")}}
                        <span class="color-exoticnobold">{{localize "destinyjdr.generalRarity.exotic"}}</span>
                    {{/if}}
                    {{#if (eq data.system.rarity "enlightened")}}
                        <span class="color-enlightenednobold">{{localize "destinyjdr.generalRarity.enlightened"}}</span>
                    {{/if}}
                    {{#if (eq data.system.rarity "sunk")}}
                        <span class="color-sunknobold">{{localize "destinyjdr.generalRarity.sunk"}}</span>
                    {{/if}}
                </p>
            </div>
            <div class="destinyjdr-dice-weaponelement">
                {{#if (eq data.system.weaponElement "kinetic")}}
                  <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_kinetic.png"/>
                {{/if}}
                {{#if (eq data.system.weaponElement "solar")}}
                  <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_solar.png"/>
                {{/if}}
                {{#if (eq data.system.weaponElement "arc")}}
                  <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_arc.png"/>
                {{/if}}
                {{#if (eq data.system.weaponElement "void")}}
                  <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_void.png"/>
                {{/if}}
                {{#if (eq data.system.weaponElement "stasis")}}
                  <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_stasis.png"/>
                {{/if}}
                {{#if (eq data.system.weaponElement "strand")}}
                  <img src="/systems/destinyjdr/assets/img/weapons/weapon_elements/weaponelement_strand.png"/>
                {{/if}}
            </div>
        </div>
    </div>
{{/if}}