{{#if inSheet}}
    <div data-type="item" class="weapon-card item reveal-rollable" data-item-id={{_id}}>
        <div class="weapon-info weapon-name">
            <p class="weapon-name-name">{{name}}</p>
            <div class="weapon-name-body">
                {{data.damage}}
            </div>
        </div>
    </div>
{{else}}
    <div class="dice-roll">
        <div class="dice-result">
            <img class="destinyjdr-weaponcheck-img-2" src="{{img}}">
        </div>
    </div>
{{/if}}