<div class="infocard">
    {{#if (eq info "story")}}
        <p class="infocard-name">
            {{actor.name}}
        </div>
        <div class="infocard-race">
            {{localize (concat "destinyjdr.races." actor.system.race)}}
        </div>
        <img class="infocard-img" src="{{actor.img}}">
        <div class="infocard-text">
            {{{actor.system.charInfos.story}}}
        </div>
    {{/if}}
    {{#if (eq info "desc")}}
        <p class="infocard-name">
            {{actor.name}}
        </div>
        <div class="infocard-race">
            {{localize (concat "destinyjdr.races." actor.system.race)}}
        </div>
        <img class="infocard-img" src="{{actor.img}}">
        <div class="infocard-text">
            {{{actor.system.charInfos.description}}}
        </div>
    {{/if}}
</div>