<div class="dice-roll">
    <!--<div class="dice-flavor">Hello there !</div>-->
    <div class="dice-result">
        <div class="dice-formula tvq-dice-formula">
            {{localize "destinyjdr.sheet.initiativeRoll"}}
        </div>
        <div class="dice-tooltip">
            <section class="tooltip-part">
                <div class="dice">
                    <header class="part-header flexrow">
                        <span class="part-formula">{{rollResult.formula}}</span>
                        <span class="part-total">{{rollResult.total}}</span>
                    </header>
                    <ol class="dice-rolls">
                    {{#each rollResult.dice as |object key|}}
                        {{#each this.results}}
                            {{#ifSuperiorOrEquals this.result object.faces}}
                                <li class="roll max die d{{object.faces}}">{{this.result}}</li>
                            {{else}}
                                {{#ifEquals this.result 1}}
                                    <li class="roll min die d{{object.faces}}">{{this.result}}</li>
                                {{else}}
                                    <li class="roll die d{{object.faces}}">{{this.result}}</li>
                                {{/ifEquals}}
                            {{/ifSuperiorOrEquals}}
                        {{/each}}
                    {{/each}}
                    </ol>
                </div>
            </section>
        </div>
        <div class="tvq-dice-result tvq-dice-result-height">
            {{#ifEquals rollResult.dice.[0].results.[0].result 20}}
                <h4 class="destinyjdr-taskcheck-resulttotal tvq-criticalsuccess">{{rollResult.total}}</h4>
            {{else}}
                {{#ifEquals rollResult.dice.[0].results.[0].result 1}}
                    <h4 class="destinyjdr-taskcheck-resulttotal tvq-criticalfailure">{{rollResult.total}}</h4>
                {{else}}
                    <h4 class="destinyjdr-taskcheck-resulttotal">{{rollResult.total}}</h4>
                {{/ifEquals}}
            {{/ifEquals}}
        </div>
    </div>
</div>