{{#if (eq this.item.type "skill")}}
    <div class="dice-roll destinyjdr-2" style="margin: 0 0 14px 0;">
{{else}}
    <div class="dice-roll destinyjdr-2">
{{/if}}

    {{#if (eq this.item.type "skill")}}
        <p class="dice-formula destinyjdr-dice-formula" style="font-size: 32px;line-height: 20px;opacity: 0.24;letter-spacing: -1px;">
    {{else}}
        <p class="dice-formula destinyjdr-dice-formula">
    {{/if}}
        {{localize "destinyjdr.sheet.roll1"}}
        <span class="aimingskill-color">{{localize "destinyjdr.stats.aimingskill"}}</span>
    </p>
    {{#if (eq this.item.type "skill")}}
        <p class="dice-formula destinyjdr-dice-formula" style="position: relative !important;margin: 12px 0 -15px 0 !important;text-shadow: 0 0 8px #d7d7d7;font-size: 25px;">{{this.item.name}}</p>
    {{/if}}

    <div class="rollstat-body">

        {{#if (eq this.item.type "skill")}}
            <img class="skillimg" src="{{this.item.img}}" title="{{this.item.name}}" style="background: radial-gradient(closest-side, #999999, #9595956b, #f69d3c00);"/>
        {{/if}}

        {{#if iscritical_success}}
            <div class="destinyjdr-dice-result destinyjdr-criticalsuccess">
                <div class="destinyjdr-neutralbg"></div>
                <div class="destinyjdr-dicebg"></div>
                <div class="destinyjdr-dice"></div>
                <p class="destinyjdr-taskcheck-resulttotal">{{dice_score}}</p>
                <p class="destinyjdr-taskcheck-criticalsuccess">{{localize "destinyjdr.critical.critsuccess"}}</p>
        {{else}}
            {{#if iscritical_failure}}
                <div class="destinyjdr-dice-result destinyjdr-criticalfailure">
                    <div class="destinyjdr-dicebg"></div>
                    <div class="destinyjdr-dice"></div>
                    <p class="destinyjdr-taskcheck-resulttotal">{{dice_score}}</p>
                    <p class="destinyjdr-taskcheck-criticalfailure">{{localize "destinyjdr.critical.critfailure"}}</p>
            {{else}}
                <div class="destinyjdr-dice-result destinyjdr-neutralbg">
                    <div class="destinyjdr-dicebg"></div>
                    <div class="destinyjdr-dice"></div>
                    <p class="destinyjdr-taskcheck-resulttotal">{{dice_score}}</p>
            {{/if}}
        {{/if}}

        {{#if (eq this.item.type "skill")}}
            {{#if (eq rollmod "trivial")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.trivial"}}}</p>
            {{/if}}
            {{#if (eq rollmod "elementary")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.elementary"}}}</p>
            {{/if}}
            {{#if (eq rollmod "childish")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.childish"}}}</p>
            {{/if}}
            {{#if (eq rollmod "veryeasy")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.veryeasy"}}}</p>
            {{/if}}
            {{#if (eq rollmod "easy")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.easy"}}}</p>
            {{/if}}
            {{#if (eq rollmod "simple")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.simple"}}}</p>
            {{/if}}
            {{#if (eq rollmod "available")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.available"}}}</p>
            {{/if}}
            {{#if (eq rollmod "affordable")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.affordable"}}}</p>
            {{/if}}
            {{#if (eq rollmod "normal")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.normal"}}}</p>
            {{/if}}
            {{#if (eq rollmod "pained")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.pained"}}}</p>
            {{/if}}
            {{#if (eq rollmod "delicate")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.delicate"}}}</p>
            {{/if}}
            {{#if (eq rollmod "laborious")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.laborious"}}}</p>
            {{/if}}
            {{#if (eq rollmod "difficult")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.difficult"}}}</p>
            {{/if}}
            {{#if (eq rollmod "verydifficult")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.verydifficult"}}}</p>
            {{/if}}
            {{#if (eq rollmod "challenging")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.challenging"}}}</p>
            {{/if}}
            {{#if (eq rollmod "infernal")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.infernal"}}}</p>
            {{/if}}
            {{#if (eq rollmod "impossible")}}
                <p class="destinyjdr-skillbonus">{{{localize "destinyjdr.difficulties.impossible"}}}</p>
            {{/if}}
        {{/if}}

        </div>

        {{#if (eq this.item.type "skill")}}
            <img class="structelem" src="\systems\destinyjdr\assets\img\weapons\weapon_elements\weaponelement_{{item.system.damageelement}}.png" style="right: -30px;">
            {{#if this.item.system.createstruct}}
                <div class="destinyjdr-sidedices" style="top:16px !important;height:auto;flex-direction: row;">
            {{else}}
                {{#ifNotEquals damageorheal1 false}}
                    <div class="destinyjdr-sidedices" style="top:16px !important;height:auto;flex-direction: row;">
                {{else}}
                    {{#ifNotEquals damageorheal2 false}}
                        <div class="destinyjdr-sidedices" style="top:16px !important;height:auto;flex-direction: row;">
                    {{else}}
                        <div class="destinyjdr-sidedices">
                    {{/ifNotEquals}}
                {{/ifNotEquals}}
            {{/if}}
        {{else}}
            <div class="destinyjdr-sidedices">
        {{/if}}

            {{#if (eq this.item.type "skill")}}
                {{#if this.item.system.createstruct}}
                    <div class="destinyjdr-sidedices-dice" style="height: 20px;width: 20px;">
                        <p style="font-size: 11px;line-height: 20px;">{{first_value}}</p>
                        <span class="diebg d20"></span>
                    </div>
                    <div class="destinyjdr-sidedices-dice" style="height: 20px;width: 20px;">
                        <p style="font-size: 11px;line-height: 20px;">{{second_value}}</p>
                        <span class="diebg d10"></span>
                    </div>
                {{else}}
                    {{#ifNotEquals damageorheal1 false}}
                        <div class="destinyjdr-sidedices-dice" style="height: 20px;width: 20px;">
                            <p style="font-size: 11px;line-height: 20px;">{{first_value}}</p>
                            <span class="diebg d20"></span>
                        </div>
                        <div class="destinyjdr-sidedices-dice" style="height: 20px;width: 20px;">
                            <p style="font-size: 11px;line-height: 20px;">{{second_value}}</p>
                            <span class="diebg d10"></span>
                        </div>
                    {{else}}
                        {{#ifNotEquals damageorheal2 false}}
                            <div class="destinyjdr-sidedices-dice" style="height: 20px;width: 20px;">
                                <p style="font-size: 11px;line-height: 20px;">{{first_value}}</p>
                                <span class="diebg d20"></span>
                            </div>
                            <div class="destinyjdr-sidedices-dice" style="height: 20px;width: 20px;">
                                <p style="font-size: 11px;line-height: 20px;">{{second_value}}</p>
                                <span class="diebg d10"></span>
                            </div>
                        {{else}}
                            <div class="destinyjdr-sidedices-dice">
                                <p>{{first_value}}</p>
                                <span class="diebg d20"></span>
                            </div>
                            <div class="destinyjdr-sidedices-dice">
                                <p>{{second_value}}</p>
                                <span class="diebg d10"></span>
                            </div>
                        {{/ifNotEquals}}
                    {{/ifNotEquals}}
                {{/if}}
            {{else}}
                <div class="destinyjdr-sidedices-dice">
                    <p>{{first_value}}</p>
                    <span class="diebg d20"></span>
                </div>
                <div class="destinyjdr-sidedices-dice">
                    <p>{{second_value}}</p>
                    <span class="diebg d10"></span>
                </div>
            {{/if}}

        </div>

        {{#if (eq this.item.type "skill")}}
            <div class="skill-buttoncolumn">
                {{#ifNotEquals damageorheal1 false}}
                    <div class="skillbutton-container">
                        <button class="destinyjdr-damageorheal" type="button" data-item="{{this.item._id}}" data-actor="{{this.actor._id}}" data-dicedamage="{{basedamage1}}" data-fixeddamage="{{stattoadd1}}" data-damagestat="{{damagestat1}}" data-damageelement="{{damageelement}}" style="padding: 6px 3px 3px 3px;margin: 7px auto 3px auto;">{{localize "destinyjdr.flavorText.applydamage"}}</button>
                        <p class="destinyjdr-overtoptext">
                            {{basedamage1}}
                            {{#if (eq damagestat1 "nothing")}}{{else}}
                                +
                                {{#if (eq damagestat1 "combatskill")}}
                                    <span class="combatskill-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "aimingskill")}}
                                    <span class="aimingskill-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "strength")}}
                                    <span class="strength-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "dexterity")}}
                                    <span class="dexterity-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "resilience")}}
                                    <span class="resilience-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "intellect")}}
                                    <span class="intellect-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "perception")}}
                                    <span class="perception-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "mentalstrength")}}
                                    <span class="mentalstrength-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "charisma")}}
                                    <span class="charisma-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "technology")}}
                                    <span class="technology-color">{{stattoadd1}}</span>
                                {{/if}}
                                {{#if (eq damagestat1 "superpoints")}}
                                    <span class="superpoints-color">{{stattoadd1}}</span>
                                {{/if}}
                            {{/if}}
                        </p>
                    </div>
                {{/ifNotEquals}}
                {{#ifNotEquals damageorheal2 false}}
                    {{#if (eq skillType "simple2damage")}}{{else}}
                        <div class="skillbutton-container">
                            <button class="destinyjdr-damageorheal" type="button" data-item="{{this.item._id}}" data-actor="{{this.actor._id}}" data-dicedamage="{{basedamage2}}" data-fixeddamage="{{stattoadd2}}" data-damagestat="{{damagestat2}}" data-damageelement="{{damageelement}}" style="padding: 6px 3px 3px 3px;margin: 7px auto 3px auto;">{{localize "destinyjdr.flavorText.applydamage"}}</button>
                            <p class="destinyjdr-overtoptext">
                                {{basedamage2}}
                                {{#if (eq damagestat2 "nothing")}}{{else}}
                                    +
                                    {{#if (eq damagestat2 "combatskill")}}
                                        <span class="combatskill-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "aimingskill")}}
                                        <span class="aimingskill-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "strength")}}
                                        <span class="strength-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "dexterity")}}
                                        <span class="dexterity-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "resilience")}}
                                        <span class="resilience-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "intellect")}}
                                        <span class="intellect-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "perception")}}
                                        <span class="perception-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "mentalstrength")}}
                                        <span class="mentalstrength-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "charisma")}}
                                        <span class="charisma-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "technology")}}
                                        <span class="technology-color">{{stattoadd2}}</span>
                                    {{/if}}
                                    {{#if (eq damagestat2 "superpoints")}}
                                        <span class="superpoints-color">{{stattoadd2}}</span>
                                    {{/if}}
                                {{/if}}
                            </p>
                        </div>
                    {{/if}}
                {{/ifNotEquals}}

                {{#ifEquals this.item.system.createstruct true}}
                    {{#ifEquals this.item.system.structmonolith true}}
                        <button class="destinyjdr-monolithbutton color-vertant" type="button" data-item="{{this.item._id}}" data-actor="{{this.actor._id}}">{{localize "destinyjdr.flavorText.createmonolith"}}</button>
                    {{else}}
                        <button class="destinyjdr-skillbutton" type="button" data-item="{{this.item._id}}" data-actor="{{this.actor._id}}">{{localize "destinyjdr.flavorText.createstructure"}}</button>
                    {{/ifEquals}}
                {{/ifEquals}}

            </div>
        {{/if}}

    </div>

    <div class="dice-tooltip">
        <section class="tooltip-part">
            <div class="dice">
                <div class="destinyjdr-weaponperk-show-perk" style="margin-top: 16px;">
                    <div class="destinyjdr-weaponperk-show">
                        {{#ifNotEquals item.system.description ""}}
                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.description"}}</p>
                            <div class="destinyjdr-cardtext">{{item.system.description}}</div>
                        {{/ifNotEquals}}
                        <div class="brspace"></div>
                        {{#ifNotEquals item.system.effect ""}}
                            <p class="destinyjdr-weapon-showmore-perk">{{localize "destinyjdr.itemText.effect"}}</p>
                            <div class="destinyjdr-cardtext">{{{item.system.effect}}}</div>
                        {{/ifNotEquals}}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{#if (eq this.item.type "skill")}}
        <div class="destinyjdr-item-endline" style="padding: 3px 0 0 16px;position: absolute !important;bottom: -14px !important;left: 0 !important;">
            <img class="deploy-down" src="systems/destinyjdr/assets/img/rolls/misc/expand-down.png">
            <p class="destinyjdr-item-endline-element">{{localize "destinyjdr.itemText.skillText"}}</p>
            {{#if (eq item.system.damageelement "class")}}{{else}}
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    {{#if (eq item.system.damageelement "solar")}}
                        <span class="color-solar">{{localize "destinyjdr.weaponelement.solar"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "arc")}}
                        <span class="color-arc">{{localize "destinyjdr.weaponelement.arc"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "void")}}
                        <span class="color-void">{{localize "destinyjdr.weaponelement.void"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "stasis")}}
                        <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "strand")}}
                        <span class="color-strandnobold">{{localize "destinyjdr.weaponelement.strand"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "vertant")}}
                        <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                    {{/if}}
                    {{#if (eq item.system.damageelement "offaxis")}}
                        <span class="color-offaxisnobold">{{localize "destinyjdr.weaponelement.offaxis"}}</span>
                    {{/if}}
                </p>
            {{/if}}
        </div>
    {{/if}}

</div>