<div class="dice-roll">
    <div class="destinyjdr-supercard dice-result">
        <div class="super-mainbloc" style="min-height: unset;">
            <div class="super-mainbloc-img" style="height: 76px;">
                {{#if (eq this.item.type "stasis")}}
                    <img style="-webkit-mask-image: unset;" src="\systems\destinyjdr\assets\img\combat\stasis_struct.webp">
                {{else}}
                    {{#if (eq this.item.type "monolith")}}
                        <img style="-webkit-mask-image: unset;" src="\systems\destinyjdr\assets\img\combat\vertant_struct.webp">
                    {{else}}
                        <img src="{{this.item.img}}">
                    {{/if}}
                {{/if}}
            </div>
            <div class="super-mainbloc-title" style="min-height: unset;flex-direction: row;flex-wrap: wrap;justify-content: flex-start;align-items: center;">
                {{#if (eq this.item.type "stasis")}}
                    <p class="destinyjdr-centerstrong">
                        <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                    </p>
                    <p class="destinyjdr-dice-weapontitle2 color-stasis">{{localize "destinyjdr.itemText.stasiscrystal"}}</p>
                    <img class="structelem" src="\systems\destinyjdr\assets\img\weapons\weapon_elements/weaponelement_stasis.png">
                {{else}}
                    {{#if (eq this.item.type "monolith")}}
                        <p class="destinyjdr-centerstrong">
                            <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                        </p>
                        <p class="destinyjdr-dice-weapontitle2 color-vertant">{{localize "destinyjdr.sheet.monolith"}}</p>
                        <img class="structelem" src="\systems\destinyjdr\assets\img\weapons\weapon_elements/weaponelement_vertant.png">
                    {{else}}
                        <p class="destinyjdr-centerstrong">{{localize "destinyjdr.itemText.skillText"}}</p>
                        <p class="destinyjdr-dice-weapontitle2">{{this.item.name}}</p>
                    {{/if}}
                {{/if}}
                {{#if (eq this.item.type "stasis")}}
                    <div class="struct-health" style="width: auto;margin: 0 11px 0 0 !important;">
                        <p class="struct-health-p">{{localize "destinyjdr.sheet.healthPoints"}}</p>
                        <input class="input-struct input-struct-health" data-othervalue="{{structarmor}}" data-structtype="stasis" data-sourcetype="actor" data-source="{{actorID}}" name="data.structhealth" type="number" value="{{structhealth}}" placeholder="0"/>
                    </div>
                    <div class="struct-health" style="width: auto;">
                        <p class="struct-health-p">{{localize "destinyjdr.sheet.armor"}}</p>
                        <input class="input-struct input-struct-armor" data-othervalue="{{structhealth}}" data-structtype="stasis" data-sourcetype="actor" data-source="{{actorID}}" name="data.structarmor" type="number" value="{{structarmor}}" placeholder="0" style="width: 58px !important;"/>
                    </div>
                {{else}}
                    <div class="struct-health" style="width: auto;margin: 0 11px 0 0 !important;">
                        <p class="struct-health-p">{{localize "destinyjdr.sheet.healthPoints"}}</p>
                        <input class="input-struct input-struct-health" data-othervalue="{{structarmor}}" data-structtype="{{this.item.type}}" data-sourcetype="skill" data-source="{{itemID}}" data-actor="{{actorID}}" name="data.structhealth" type="number" value="{{structhealth}}" placeholder="0"/>
                    </div>
                    <div class="struct-health" style="width: auto;">
                        <p class="struct-health-p">{{localize "destinyjdr.sheet.armor"}}</p>
                        <input class="input-struct input-struct-armor" data-othervalue="{{structhealth}}" data-structtype="{{this.item.type}}" data-sourcetype="skill" data-source="{{itemID}}" data-actor="{{actorID}}" name="data.structarmor" type="number" value="{{structarmor}}" placeholder="0" style="width: 58px !important;"/>
                    </div>
                {{/if}}
            </div>
        </div>
        <div class="destinyjdr-item-endline" style="padding: 3px 0 0 0;">
            {{#if (eq this.item.type "skill")}}
                <p class="destinyjdr-item-endline-element">
                    {{localize "destinyjdr.itemText.skillText"}}
                </p>
                <p class="destinyjdr-item-endline-separator">|</p>
            {{/if}}
            <p class="destinyjdr-item-endline-element">
                {{localize "destinyjdr.sheet.structure"}}
            </p>
            {{#if (eq this.item.type "stasis")}}
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    <span class="color-stasisnobold">{{localize "destinyjdr.itemText.stasiselement"}}</span>
                </p>
            {{/if}}
            {{#if (eq this.item.type "monolith")}}
                <p class="destinyjdr-item-endline-separator">|</p>
                <p class="destinyjdr-item-endline-element">
                    <span class="color-vertantnobold">{{localize "destinyjdr.weaponelement.vertant"}}</span>
                </p>
            {{/if}}
        </div>
    </div>
</div>